cfa/
cfa
*.xlsx
*.jsonl
*.zip
*.ogg
*.oga
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.docx
*.doc
exchange-assets-tokenization-rwa/
*data/*
# memory-bank/_unstructured/
# *.txt
# Ignore customer gitlab submodules until configured
repositories/customer-gitlab/**
data/

.specstory/
.env*